body {
    background-color: darkcyan;
    color: white;
}

.mfp {
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.6;
    margin-top: 3rem;
    padding-top: 3rem;
}

.mfp+.mfp {
    border-top: 1px solid darkblue;
}

.goback {
    max-width: 600px;
    font-family: sans-serif;
    position: absolute;
    margin-left: 2%;
    font-size: x-large;
}